#main {
  margin: 0 auto;
  margin-top: 5rem;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.main-btn {
  font-size: 3rem;
  flex: 0;
}

.main-btns {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#bumi_frontpage_label {
  position: fixed;
  right: 3rem;
  bottom: 2rem;
  font-size: 2rem;
  color: #444444;
}

#bumi_frontpage {
  position: fixed;
  right: 0;
  bottom: 0;
}

#main-btn-play {
  width: 500px;
}

#main-btn-logout {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

#main-btn-leaderboard {
  margin-top: 1.5rem;
}
