#main.leaderboard {
    background: #555555;
    display: flex;
    flex-direction: row;
    gap: unset;
    align-items: stretch;
    height: calc(100vh - 10rem);
    border-radius: 1rem;
}
#leaderboard_puzzles {
    width: 40%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 0.5rem;
    padding: 0.5rem;
}
#leaderboard_scores {
    width: 60%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    justify-content: flex-start;
    height: 100%;
    align-items: stretch;
}

.leaderboard_listing {
    font-size: 1.4rem;
    margin: 0.5rem 1rem 0.5rem 1rem;
    display: block;
    line-height: 2rem;
}

.leaderboard_username {
    float: left;
    display: inline;
}
.leaderboard_score {
    float: right;
    display: inline;
}


.leaderboard_puzzle {
    background: #3E3E3E;
    color: #EEEEEE;
    text-align: left;
    border: none;
    transition: none;
}
.leaderboard_puzzle.leaderboard_puz_sel {
    background: var(--green);
}
button.leaderboard_puzzle.leaderboard_puz_sel:hover {
    background: var(--green);
}

button.leaderboard_puzzle:hover {
    transform: scale(1.0);
    background: #444444;
}
