h1.leaderboard {
  margin-top: 3.5rem;
}

@media only screen and (max-width: 800px) {
    div#main.leaderboard {
        flex-direction: column;
    }
    div#leaderboard_puzzles {
        border-bottom: 0.3rem #CCC solid;
        width: 100%;
    }
    div#leaderboard_scores {
        width: 100%;
    }
}
#main.leaderboard {
  background: #555555;
  display: flex;
  flex-direction: row;
  gap: unset;
  align-items: stretch;
  height: calc(100vh - 15rem);
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#leaderboard_puzzles {
  width: 40%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 0.5rem;
  padding: 1rem;
}
#leaderboard_scores {
  width: 60%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  justify-content: flex-start;
  height: 100%;
  padding: 2rem;
  gap: 0.5rem;
}

.leaderboard_listing {
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  line-height: 2rem;
}

.leaderboard_score {
  display: inline;
  width: 3rem;
  padding: 0.25rem;
  background-color: #444444;
  border-radius: 1rem;
}

.leaderboard_puzzle {
  background: #3e3e3e;
  color: #eeeeee;
  text-align: left;
  border: none;
  transition: none;
  padding: 0.5rem 1rem;
}
.leaderboard_puzzle.leaderboard_puz_sel {
  background: var(--green);
}
button.leaderboard_puzzle.leaderboard_puz_sel:hover {
  background: var(--green);
}

button.leaderboard_puzzle:hover {
  transform: scale(1);
  background: #444444;
}
