#level_back_button {
  margin-top: 1rem;
}
#level_prompt {
  text-align: left;
  margin: 1rem;
}
#level_wrapper {
  width: 99.9vw;
  height: 99.9vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
}
#level_side_panel {
  width: calc(max(20rem, 50vw));
  height: 100vh;
  background: #555555;
}
.inventory_button {
  width: calc(100% - 4rem);
  margin: 0.4rem 2rem 0.4rem 2rem;
}
.inventory_button {
  background: #eeeeee;
  color: #000000;
}
.inventory_button:hover {
  transform: scale(1);
  background: #d0d0d0;
}

#debug_info {
  position: fixed;
  right: 0;
  bottom: 0;
  text-align: right;
}

#level_prompt{
  background-color: #666;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
}

#level_back_button {
  
}

#level_submit_button {
  margin-top: 1rem;
}