#level_back_button {
  margin-top: 1rem;
}
#level_prompt {
  margin-top: 1rem;
  text-align: left;
}
#level_wrapper {
  width: 99.9vw;
  height: 99.9vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
}
#level_side_panel {
  overflow-y: auto;
  width: calc(max(20rem, 50vw));
  height: 100vh;
  background: #555555;
  padding: 1rem;
}

#level_side_panel h2 {
  margin-top: 2rem;
}

.level_submit_response {
  margin-bottom: 1rem;
}

.inventory_buttons {
  margin-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5 rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.inventory_button {
  padding: 0.4rem;
}

.inventory_button svg {
  width: 100%;
  height: 100%;
}

#debug_info {
  position: fixed;
  right: 0;
  bottom: 0;
  text-align: right;
}

#level_prompt {
  background-color: #666;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
}

#level_submit_button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#c_a_d {
  color: #777;
  font-size: 0.75rem;
}

.react-flow__node {
  border-radius: 1rem;
  outline-offset: 0.5rem;
}

.react-flow__node.selectable:focus {
  outline: 2px dashed #555;
}

.react-flow__edge.selected .react-flow__edge-path {
  stroke: red;
}
