.bounding-box {
    width: 800px;
    height: 500px;
    background-color: #444444;
    border-radius: 30px;
    overflow-y: scroll;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    
}
.lvl-completed.lvl-btn  {
    background-color: var(--green);

}

.lvl-btn {
    font-size: 2rem;
    width: 600px;
    border: none;
    background-color: #333;
    color: #D2D5E1
}

a {
    display: block;
}

#home-btn {
    position: fixed;
    top: 1rem;
    right: 1rem;
    fill: #768948;
    transition: 0.3s ease;
}

#home-btn:hover {
    transform: scale(1.1);
}