@media only screen and (max-width: 800px) {
    :scope .lvl-btn > p {
        width: calc(100% - 5rem);
        float: right;
        font-size: 1rem;
        margin: 0;
        margin-left: auto;
    }
    :scope h1#levels-header {
        margin-top: 3rem;
    }
    :scope #library-btn {
        display: none;
    }
    :scope .difficulty {
        font-size: 0.7rem;
    }


}
#main.levels-header {
  margin-top: 0;
  gap: 0;
}
.bounding-box {
  overflow-x: hidden;
  width: calc(min(50rem, 100vw - 2rem));
  height: calc(100vh - 10rem);
  background-color: #444444;
  border-radius: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  align-items: center;
  margin-bottom: 2rem;
}

.bounding-box a {
  width: 100%;
  text-decoration: none;
}

.lvl-completed.lvl-btn {
  background-color: var(--green);
}
.difficulty {
  position: absolute;
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: #333333;
  border-radius: 1rem;
  text-transform: uppercase;
  font-size: 1rem;
}
.difficulty-intro {
  color: #406dde;
}
.difficulty-easy {
  color: #27ba51;
}
.difficulty-medium {
  color: #d1be2e;
}
.difficulty-hard {
  color: #d1462e;
}

button.lvl-btn {
  position: relative;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.lvl-btn p {
  width: 100%;
  margin: 0 auto;
  font-size: 2rem;
}

.lvl-btn {
  width: 100%;
  border: none;
  background-color: #333;
  color: #eeeeee;
}

.lvl-btn:hover {
  transform: scale(1.025);
}

a {
  display: block;
}
