#main.levels-header {
    margin-top: 0;
    gap: 0;

}
.bounding-box {
    width: 800px;
    height: calc(100vh - 10rem);
    background-color: #444444;
    border-radius: 30px;
    overflow-y: scroll;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 2rem;
}
.lvl-completed.lvl-btn  {
    background-color: var(--green);

}

.lvl-btn {
    font-size: 2rem;
    width: 600px;
    border: none;
    background-color: #333;
    color: #D2D5E1
}

a {
    display: block;
}
