h1#library_header {
  margin-top: 3.5rem;
}

@media only screen and (max-width: 800px) {
    div#main.library {
        flex-direction: column;
    }
    div#library_pages {
        border-bottom: 0.3rem #CCC solid;
        width: 100%;
    }
    div#library_page {
        width: 100%;
    }
}

#main.library {
  background: #555555;
  display: flex;
  flex-direction: row;
  gap: unset;
  align-items: stretch;
  height: calc(100vh - 15rem);
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#library_pages {
  width: 40%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 0.5rem;
  padding: 1rem;
}
#library_page {
  width: 60%;
  overflow-y: auto;
  height: 100%;
  padding: 2rem;
  text-align: left;
  font-size: 1.2rem;
}

.lib_page_btn {
  background: #3e3e3e;
  color: #eeeeee;
  text-align: left;
  border: none;
  transition: none;
  padding: 0.5rem 1rem;
}
.lib_page_btn.lib_page_btn_sel {
  background: var(--blue);
}
button.lib_page_btn.lib_page_btn_sel:hover {
  background: var(--blue);
}
button.lib_page_btn:hover {
  transform: scale(1);
  background: #444444;
}

.library-img {
  margin-top: 2rem;
}

.library-img svg {
  width: 100%;
  height: 6rem;
}

#library_header {
  color: #388697;
}

table {
    width: 100%;
    background-color: #666;
    border-collapse: collapse;
}

table, th, td {
    border: 4px solid #388697;
}

th,td {
    padding: 0.5rem;
}

th {
    background-color: #388697;
    color: #fff;
}

.library-table {
  margin-top: 4rem;
}

.truth-table {
  margin-bottom: 1rem;
}
