.input-login {
  font-family: "Lexend", sans-serif;
  outline: none;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

.input-login:hover {
  transform: scale(1.05);
}

.input-login::placeholder {
  color: #c0c3d1;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: calc(min(40rem, 100vw - 2rem));
}
@media only screen and (max-width: 800px) {
    :scope .form-btns {
        flex-direction: column;
    }
}

.form-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.form-btns button {
  width: 100%;
  white-space: nowrap;
}

.snorribjorn {
  margin-top: 50px;
}
