* {
  box-sizing: border-box;
  margin: 0 0;
  padding: 0 0;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #999999 #00000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 24px;
  }

  *::-webkit-scrollbar-track {
    background: #00000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #999999;
    background-clip: padding-box;
    border-radius: 15px;
    border: solid 8px transparent;
  }

:root {
  --bg-1: #333333;
  --bg-2: #444444;
  --text: #d2d5e1;
  --green: #768948;
  --blue: #388697;
  --yellow: #b39c4d;
  --red: #d35160;

  font-family: "Lexend", sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: var(--bg-1);
  color: var(--text);
}

h1 {
  font-family: "Irish Grover", sans-serif;
  font-size: 6rem;
  color: var(--green);
}

button {
  font-family: "Lexend", sans-serif;
  border-radius: 0.5rem;
  padding: 0.5rem 4rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

p {
  font-size: 1.4rem;
}

.btn-outline {
  background-color: transparent;
  color: var(--text);
  border: 1px solid var(--text);
}

.btn-green {
  background-color: var(--green);
  color: var(--text);
  border: none;
}

.btn-yellow {
  background-color: var(--yellow);
  color: var(--text);
  border: none;
}

.btn-blue {
  background-color: var(--blue);
  color: var(--text);
  border: none;
}

.btn-gray {
  background-color: var(--bg-2);
  color: var(--text);
  border: none;
}

.input-login {
  background-color: var(--bg-2);
  color: var(--text);
  border: none;
}

#home-btn {
  top: 1rem;
  right: 1rem;
  fill: #d2d5e1;
  transition: 0.3s ease;
  background-color: #768948;
  border-radius: 15%;
  padding: 0.65rem;
}

#home-btn:hover {
  transform: scale(1.1);
}

#library-btn {
  top: 1rem;
  right: 4rem;
  fill: #d2d5e1;
  transition: 0.3s ease;
  background-color: #388697;
  border-radius: 0.5rem;
  padding: 0.65rem;
}

#library-btn:hover {
  transform: scale(1.1);
}

#top-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100vw;
  padding: 1rem;
  border-radius: 15%;
  top: 0;
  right: 0;
}
